.backgroundImg{
    height: 70.2rem;
    width: 100%;
    background-size: cover;
    background-position:center ;
    background-image: url("../../../public/bgconfirm.jpeg");
}
.feat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

}